<div class="row">
    <div class="col-xs-12">
        <form ngForm #editRecipeForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label>Name</label>
                    <input for="name" [(ngModel)]="recipe.name" type="text" name="name" id="name" class="form-control"
                        required
                    >
                </div>
                <div class="col-sm-2 form-group">
                    <label>Description</label>
                    <input for="description" [(ngModel)]="recipe.description" type="text" name="description" id="description" class="form-control"
                           required
                    >
                </div>
                <div class="col-sm-2 form-group">
                    <label>ImagePath</label>
                    <input for="imagePath"
                            required
                            [(ngModel)]="recipe.imagePath"
                            type="text" name="imagePath" id="imagePath" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button [disabled]="!editRecipeForm.valid" class="btn btn-primary" type="submit">{{editMode ? 'Update': 'Add'}}</button>
                </div>
            </div>
<!--            <div class="row">
                <div class="col-xs-12" *ngIf="!editMode">
                    <button class="btn btn-primary" type="button" (click)="onCreate()">Create</button>
                </div>
            </div>-->
        </form>
    </div>
</div>
