<div class="row">
  <div class="col-xs-12">
    <form ngForm (ngSubmit)="onSubmit()" #ingredientForm="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" class="form-control"
                  required
                 ngModel
          >
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input type="number" name="amount" id="amount" class="form-control"
                 required
                 ngModel
                 pattern="^[1-9]+[0-9]*$"
          >
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">

          <button [disabled]="!ingredientForm.valid" class="btn btn-success" type="submit">{{editMode ? 'update': 'add'}}</button>
          <button *ngIf="editMode" class="btn btn-danger" type="button" (click)="onDelete()">Delete</button>
          <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
